/* font for page */
body {
    font-family: "Roboto Condensed";
    background-color: rgb(30,30,35);

}

/* styling for TypedSection component */
.section {
    padding: 1rem; 
    border-radius: 15px;
    margin-left: 5rem;
    margin-right: 3rem;
    width: 40rem;
}

.section h1 {
    color: limegreen;
    font-size: 2rem;
}

.paragraph-body {
    color: salmon;
    font-size: 1.25rem;
}

.flex {
    display: flex;
}

.small-margin-top {
    margin-top: 2rem;;
}

.video-section {
    margin-right: 5rem;
    overflow: hidden;
    width: 400px; 
    height: 225px; 
}

.video-section video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.center-align {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.learn-more-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 5rem;
    opacity: 0;
    animation: fadeIn 4s forwards; 
    animation-delay: 10s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* styling for navbar */
.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(to right, limegreen, 
                    salmon);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
  
.hamburger {
    display: block;
    cursor: pointer;
}
 
.nav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    display: none;
    background: rgb(30, 30, 35);
    z-index: 1;
}
  
.nav.open {
    display: flex;
    box-shadow: 0 2px 2px limegreen;
}
  
.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
  
.inline {
    margin: 1rem 0;
    border: solid limegreen;
    border-radius: 15px;
    background-color: limegreen;
    text-align: center;
    align-content: center;
    height: 30px;
    width: 100px;
}
  
.tab {
    color: rgb(30, 30, 35);
    font-weight: bold;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    background-color: rgb(30, 30, 35);
}

/* learn more styling */
.learn-more {
    margin-top: 300px;
    padding: 3rem;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.learn-more h1 {
    color: limegreen;
    text-align: center;
    font-size: 2rem;
}

/* key features styling */
.key-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    margin: 2rem;
    border: solid salmon;
}
  
.key-features-nav {
    margin-bottom: 1rem;
}
  
.key-features-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
  
.key-features-item {
    font-size: 1.25rem;;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: limegreen;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
  
.key-features-item.active {
    border-bottom: 2px solid limegreen;
}
  
.key-features-content {
    color: salmon;
    font-size: 1.25rem;
    text-align: center;
    border: solid;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    border-color: black;
    padding: 1rem;
}
  
.white-paragraph {
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.signup-button {
    color: white;
    border: solid salmon;
    border-radius: 15px;
    background-color: salmon;
    margin-right: 10px;
    align-content: center;
    text-align: center;
    width: 75px;
}

.signup-container {
    margin-top: 100px;
    color: rgb(50, 50, 50);
}

.category {
    color: limegreen;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

.results-button {
    color: white;
    background-color: salmon;
    cursor: pointer;
    border: salmon solid;
    border-radius: 15px;
    margin-top: 25px;
}

.results-button-container {
    padding-bottom: 10px;
    text-align: center;
}

.results-container {
    color: white;
    background-color: rgb(25, 25, 30);
    padding: 10px;
    width: 20rem;
    text-align: left;
}

.results-container h2 {
    text-align: center;
    color: salmon;
}

.filter-container {
    width: 20rem;
    background-color: rgb(25, 25, 30);
    padding: 10px;
}

.screener-header {
    text-align: center;
    color: white
}

.category-header {
    text-align: center;
    color: salmon;
    margin-top: 45px
}

.results-container li {
    color: white;
    margin-top: 10px;
}

.result-item {
    border-bottom: solid white 2px;
    padding-bottom: 5px;
}

.screener-page {
    justify-content: space-evenly;
    margin-top: 5rem;
}

.pointer {
    cursor: pointer;
}

.bttt-square {
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 35px;
    width: 50px; 
    height: 50px; 
    background-color: salmon; 
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttt-square:hover {
    background-color: limegreen;
}

.chevrons {
    color: white
}

.chevrons:hover {
    animation: bob 5s infinite;
}

@keyframes bob {
    10% {
        transform: translateY(-25px)
    }
    20% {
        transform: translateY(0)
    }
    30% {
        transform: translateY(-25px)
    }
    40% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-25px)
    }
    60% {
        transform: translateY(0)
    }
    70% {
        transform: translateY(-25px)
    }
    80% {
        transform: translateY(0)
    }
    90% {
        transform: translateY(-25px)
    }
    100% {
        transform: translateY(0)
    }
}

.popup-button {
    cursor: pointer;
    color: salmon;
    margin-left: 10px;
    margin-top: 27px
}

.popup-content {
    position: absolute;
    background-color: cornsilk;
    border-radius: 5px;
    z-index: 1000;
    width: 250px;
    padding: 10px
}

.popup-content h2 {
    color: salmon;
}

.popup-content p {
    color: rgb(25, 25, 30);
    font-weight: bold;
}

.filter-dropdown {
    cursor: pointer;
    color: limegreen;
    font-size: 2rem;
    margin-left: 10px;
    margin-top: 39px
}

.stock-link {
    font-weight: bold;
    color: limegreen;
}
  