/* font for page */
body {
    font-family: "Roboto Condensed";
    background-color: rgb(30,30,35);

}

/* styling for TypedSection component */
.section {
    padding: 1rem; 
    border-radius: 15px;
    margin-left: 5rem;
    margin-right: 3rem;
    width: 40rem;
}

.section h1 {
    color: limegreen;
    font-size: 2rem;
}

.paragraph-body {
    color: salmon;
    font-size: 1.25rem;
}

.flex {
    display: flex;
}

.small-margin-top {
    margin-top: 2rem;;
}

.video-section {
    margin-right: 5rem;
    overflow: hidden;
    width: 400px; 
    height: 225px; 
}

.video-section video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.center-align {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.learn-more-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 5rem;
    opacity: 0;
    animation: fadeIn 4s forwards; 
    animation-delay: 10s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* styling for navbar */
.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(to right, limegreen, 
                    salmon);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
  
.hamburger {
    display: block;
    cursor: pointer;
}
 /* Basic styling for nav and list */
.nav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    display: none;
    background: rgb(30, 30, 35);;
}
  
.nav.open {
    display: flex;
}
  
.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
  
.inline {
    margin: 1rem 0;
}
  
.tab {
    color: limegreen;
    font-weight: bold;
    text-decoration: none;
}
  

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    background-color: rgb(30, 30, 35);
}

/* learn more styling */
.learn-more {
    background-color: black;
    margin-top: 40rem;
    padding: 3rem;
}

.learn-more h1 {
    color: limegreen;
    text-align: center;
    font-size: 2rem;
}

.bullet-point {
    color: limegreen;
    font-size: 1.25rem;
}

.bullet-point li {
    margin-bottom: 2rem;
}