body {
    font-family: "Chakra Petch";
    background-color: rgb(17, 9, 41);
}

.section {
    margin-left: 5rem;
    width: 50rem;
}

.header {
    color: limegreen;
    font-size: 2rem;
}

.paragraph-body {
    color: salmon;
    font-size: 1.25rem;
}