/* font for page */
body {
    font-family: "Chakra Petch";
}

/* styling for TypedSection component */
.section {
    background-color: black;
    z-index: 1;
    text-align: center;
    padding: 1rem; 
    border-radius: 15px;
    width: 50rem;
    margin-top: 10rem;
}

.header {
    color: limegreen;
    font-size: 2rem;
}

.paragraph-body {
    color: salmon;
    font-size: 1.25rem;
}

.flex {
    display: flex;
}

.small-margin-top {
    margin-top: 2rem;;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.center-align {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.learn-more-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 3rem;
    opacity: 0;
    animation: fadeIn 4s forwards; 
    animation-delay: 10s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* styling for navbar */
.list {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: black;
}
 
.inline {
    margin: 1rem;
}

.tab {
    color: limegreen;
    font-weight: bold;
}

/* learn more styling */
.learn-more {
    background-color: black;
    margin-top: 40rem;
    padding: 3rem;
}

.learn-more h1 {
    color: limegreen;
    text-align: center;
    font-size: 2rem;
}

.bullet-point {
    color: limegreen;
    font-size: 1.25rem;
}

.bullet-point li {
    margin-bottom: 2rem;
}